* {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* button styling */
button {
    border: none;
    background-color: #12589a;
    color: #FFFFFF;
}

/* headings */
main > h1, h2 {
    color: rgb(5, 112, 107);
    font-family: Arial, Helvetica, sans-serif;
}

/* === header === */
header {
    align-items: center;
    border-bottom: solid 2px #5b92ff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* header links */
header nav > a {
    color: #4f0ec7;
    font-size: 20px;
    margin-inline: 10px;
    text-decoration: none; /* remove underline */
}

/* === fields and inputs === */
fieldset {
    font-size: 18px;
    margin: 40px;
}

fieldset :is(select, input, button) {
    border: 2px solid #00203e;
    font-size: 1em;
}

/* legend text */
fieldset > legend {
    font-size: 0.9em;
}

/* select options */
fieldset select {
    padding: 3px 2px;
}

/* input element */
fieldset > input {
    margin-inline: 15px;
}


/* add-on block items */
fieldset.add-on-options > * {
    /* everything inside the add-on-options are at the display of block */
    display: block;
    margin-block: 10px;
}


#customer-name-block {
    margin-block: 20px;
}

#customer-name-block label {
    display: block;
}

.flower-carts li {
    margin-bottom: 12px;
}

/* stock level */
span.stock-level {
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
    opacity: 75%;
}

/* MY CART COMPONENTS */
.subtotal {
    font-size: 16px;
    opacity: 60%;
}

/* table styling for order history */
table {
    width: 100%; /* full width */
    border-collapse: collapse;
    background-color: #FFFFFF;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    vertical-align: top;
}

/* heading */
th {
    background-color: #dafffe;
}

tr:nth-child(even) {
    background-color: #edf8ff;
}

td ul {
    list-style: none; /* hide bullet point */
    padding-left: 15px;
}

/* lists on flowers and addons */
td ul li {
    margin-block: 10px;
}

td ul li > .table-item {
    opacity: 55%;
}

td ul li > .quantity-and-cost {
    display: block;
    font-size: 13px;
}

/* media query */
@media screen and (max-width: 600px) {
    /* === header === */
    header {
        display: block;
        padding-bottom: 16px;
        text-align: center;
    }
}