<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
</head>
<body>
    <h1>Flask Website</h1>
    <p>You ran your website with flask successfully.</p>

    <ul class="nav-bar">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/about">ABOUT PAGE</a></li>
        <li><a href="/checkout">CHECKOUT PAGE</a></li>
        <li><a href="/randomness">???</a></li>
    </ul>

    <form action="{{ url_for('add_to_cart') }}" method="post">
        <fieldset>
            <legend for="flower">Select Flowers</legend>
            <select form="flower" id="flower">
                {% for flower, details in flowers.items() %}
                    <option value="{{ flower }}">{{ flower }} - ${{ details["price"] }}</option>
                {% endfor %}
            </select>
            <label for="quantity"></label>
            <input type="number" name="quantity" id="quantity" value="1" min="1">
            <button type="submit">Add To Cart</button>
        </fieldset>
    </form>
</body>
</html>