<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
</head>
<body>
    <h1>Flask Website</h1>
    <p>You ran your website with flask successfully.</p>

    <ul class="nav-bar">
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/about">ABOUT PAGE</a></li>
        <li><a href="/checkout">CHECKOUT PAGE</a></li>
        <li><a href="/randomness">???</a></li>
    </ul>

    <ul>
        {% for flower, details in flowers.items() %}
            <li>{{ flower }} -- ${{ details["price"] }} (Stock: {{ details["stock"] }})</li>
        {% endfor %}
    </ul>
</body>
</html>