{% extends "base.html" %}

{% block title %}Home - Flower Shop{% endblock %}

{% block content %}
<body>
    <form action="{{ url_for('add_to_cart') }}" method="post">
        <fieldset>
            <legend for="flower">Select Flowers</legend>
            <select name="flower" id="flower">
                {% for flower, details in flowers.items() %}
                    <option value="{{ flower }}">{{ flower }} - ${{ details["price"] }}</option>
                {% endfor %}
            </select>
            <label for="quantity"></label>
            <input type="number" name="quantity" id="quantity" value="1" min="1">
            <button type="submit">Add To Cart</button>
        </fieldset>
    </form>
    <!-- addons form -->
    <form action="{{ url_for('select_addon') }}" method="post">
        <fieldset>
            <legend>Add-ons</legend>
            {% for addon, data in addons.items() %}
                <label>
                    <input type="checkbox" name="addons_list" value="{{ addon }}">
                    {{ addon }} (${{ data["price"] }})
                </label>
            {% endfor %}
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>-</h2>
    <form action="{{ url_for('checkout') }}" method="post">
        <fieldset>
            <legend>My Cart</legend>
            <!-- at cart session -->
            {% if cart %}
                <ul>
                    {% for item, details in cart.items() %}
                        <li>{{ item }}: {{ details["quantity"] }} x ${{ '%.2f' % details["price"] }} = ${{ details["quantity"] * details["price"] }}</li>
                        <a href="{{ url_for('remove_from_cart', process_item = item) }}">[Remove]</a>
                    {% endfor %}
                </ul>
        
                <p>Flower Subtotal: ${{ '%.2f' % flower_subtotal }}</p>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        
            <!-- at addon session -->
            {% if session_addons %}
                <ul>
                    {% for adds, dataset in session_addons.items() %}
                        <li>{{ adds }} - ${{ '%.2f'% dataset }}</li>
                    {% endfor %}
                </ul>
                <p>Flower Subtotal: ${{ '%.2f' % addon_subtotal }}</p>
            {% endif %}

            <!-- subtotal / total -->
            {% if total_cost > 180 %}
                <h4>Subtotal: ${{ '%.2f' % total_cost }}</h4>
                <p>10% Discount Applied</p>
                <h4 class="discount">Total: ${{ '%.2f' % discounted }}</h4>
            {% else %}
                <h3>Total: ${{ '%.2f' % total_cost }}</h3>
            {% endif %}
        

            <div id="customer-name-block">
                <label for="customer_name_input">Name:</label>
                <input type="text" name="customer_name_input" id="customer_name_input">
            </div>

            <button type="submit">Checkout</button>
            <button type="submit" formaction="{{ url_for('cancel_order') }}" onclick="return confirm('Are you sure you want to cancel your order?')">Cancel Order</button>
        </fieldset>
    </form>


</body>
{% endblock %}